<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">
        <!--End Content Right Side-->
        <div class="col-3">
            <img src="assets/images/banner-images/perfilfoto.jpg" class="fotoperfil" alt="Dancer" />
        </div>
        <!--Content Left Side-->
        <div class="col-3">

            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>Front End Developer, disfruto descubrir y aprender día a día del mundo Tecnológico. Estudie Ingeniería en Sistemas Computacionales, me encanta poder crear y diseñar aplicaciones web, considero que es una obra de arte.
                        Mi inspiración Mia y Santiago
                </q>
                <footer>— RossZhena, Desarrolladora Front End</footer>
            </blockquote>
            <!-- End of Testimonial-->
        </div>
        <!--End Content Left Side-->
    </div>
</div>
<!--End of Content Section-->