<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="header" class="nav-collapse">
        <div class="row clearfix">
            <div class="col-1">
                <app-social></app-social>
                <app-navigation></app-navigation>
                <div id="nav-trigger"><span></span></div>
                <nav id="nav-mobile"></nav>
            </div>
        </div>
    </div>

    <!--End of Header-->

    <!--Banner Content-->

    <div id="banner-content" class="row clearfix">
        <div class="col-38">
            <div class="section-heading">
                
                <h1>RossZhena</h1>
            </div>
        </div>
    </div>

    <!--End of Row-->
</header>