<!--Clients-->
<section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">

                <h2 class="section-title">Herramientas</h2>


            </div>
            <div> <a href="assets/images/company-images/rosscv.pdf">Curriculum Vitae</a></div>

        </div>

        <div class="col-2-3">

            <a href="#" class="col-3">
                <img src="assets/images/company-images/angular-6-458222.png" class="img-thumbnail" alt="Company" />
                <div class="client-overlay"><span>Angular</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/descarga (1).png" alt="Company" />
                <div class="client-overlay"><span>Firebase</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/nodejs-2-226035.png" alt="Company" />
                <div class="client-overlay"><span>Node</span></div>
            </a>
        
             <a href="#" class="col-3">
                <img src="assets/images/company-images/HTML5_1Color_Black.png" alt="Company" />
                <div class="client-overlay"><span>HTML5</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/logocss3vector.png" alt="Company" />
                <div class="client-overlay"><span>CSS</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/JS-1.png" alt="Company" />
                <div class="client-overlay"><span>JS</span></div>
            </a>
        </div>

    </div>
</section>
<!--End of Clients-->