<!--Gallery-->
<section id="gallery" class="scrollto clearfix">
<aside id="gallery" class="row text-center clearfix">

    <a href="https://rosszhena.github.io/cdmx-social-network-frameworks/"  class="col-3 " ><img src="assets/images/gallery-images/redsocial.jpg" alt="Landing Page"/></a>
    <a href="https://rosszhena.github.io/cdmx-2018-06-bc-core-am-cipher/src/index.html" class="col-3 " ><img src="assets/images/gallery-images/cifrado.jpg" alt="Landing Page"/></a>
    <a href="https://rosszhena.github.io/Track-FE-themovieapi-./src/index.html"  class="col-3 "><img src="assets/images/gallery-images/apimovie.jpg" alt="Landing Page"/></a>
    
</aside>
</section>

<!--End of Gallery-->